html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.outerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #ece8e8ca;
}

.innerContainer {
  width: 30%;
  padding: 5px;
  border: 3px solid #d5dde0;
  border-radius: 10px;
}

.joiningInput {
  border: 1px solid #d5dde0;
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
}

.headingTitle {
  font-weight: 701;
  background: -webkit-linear-gradient(-225deg, #a3c73f 0%, rgb(27, 173, 93) 29%, rgb(57, 99, 55) 67%, rgb(110, 9, 9) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5dde0;
}

.btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(89, 230, 131);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .innerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}